In [1]:
import numpy as np
import pandas as pd

np.random.seed(123)

## Create a dataframe with two classes
n_samples = 1000
class_0_ration = 0.9
n_class_0 = int(n_samples*class_0_ration) ## 900 datapoints
n_class_1 = n_samples-n_class_0 ## 100 datapoints

In [2]:
n_class_0, n_class_1

(900, 100)

In [6]:
## Creating dataframe with imbalanced dataset

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [8]:
df = pd.concat([class_0, class_1]).reset_index(drop= True)

In [9]:
df.head()

   feature_1  feature_2  target
0  -0.471276   0.328462       0
1   1.084072   1.038230       0
2  -0.379223   1.147064       0
3  -0.362274   0.638254       0
4  -0.681071  -1.075766       0

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [27]:
## 1. Up_sampling

df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [28]:
from sklearn.utils import resample

df_minority_upsampled = resample(
    df_minority,
    replace=True,
    n_samples=len(df_majority),
    random_state=42
)

In [29]:
df_minority_upsampled.shape

(900, 3)

In [30]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   2.701255   0.056481       1
992   2.322342   3.289170       1
914   2.500618   1.338170       1
971   1.922944   2.907951       1
960   0.630218   0.982405       1

In [31]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [32]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [33]:
## Down sampling

In [34]:
df_majority_downsampled = resample(df_majority, replace=False, n_samples=len(df_minority), random_state=42)

In [35]:
df_majority_downsampled.shape

(100, 3)

In [36]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [38]:
df_downsampled['target'].value_counts()
## This is bad because we are losing datapoints

target
1    100
0    100
Name: count, dtype: int64