In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [6]:
## Create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text  
    )
''')

## commit the changes
connection.commit()

In [7]:
cursor.execute('''
Select * from employees
''')

In [9]:
## Insert data in sqlite3
cursor.execute('''
Insert into employees(name, age, department) values('Krish', 32, 'Data Scientist')
''')

cursor.execute('''
Insert into employees(name, age, department) values('Charlie', 35, 'Finance')
''')

connection.commit()

In [10]:
## Query the data from the table
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Charlie', 35, 'Finance')
(3, 'Krish', 32, 'Data Scientist')
(4, 'Charlie', 35, 'Finance')

In [12]:
## Update the data in the table

cursor.execute('''
Update employees
set age = 20
where name = 'Krish'
''')

connection.commit()

In [13]:
## Query the data from the table
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 20, 'Data Scientist')
(2, 'Charlie', 35, 'Finance')
(3, 'Krish', 20, 'Data Scientist')
(4, 'Charlie', 35, 'Finance')

In [15]:
## Delete data from table
cursor.execute('''
Delete from employees
where id in (3, 4)
''')

connection.commit()

In [16]:
## Query the data from the table
cursor.execute('''
Select * from employees
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Krish', 20, 'Data Scientist')
(2, 'Charlie', 35, 'Finance')

In [18]:
## Working with sales data

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
Create Table if not exists sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT               
)
''')

sales_data = [
    {"date": "2026-01-01", "product": "Laptop", "sales": 10, "region": "North"},
    {"date": "2026-01-01", "product": "Mouse", "sales": 50, "region": "South"},
    {"date": "2026-01-02", "product": "Keyboard", "sales": 30, "region": "East"},
    {"date": "2026-01-02", "product": "Monitor", "sales": 20, "region": "West"},
    {"date": "2026-01-03", "product": "Laptop", "sales": 15, "region": "North"},
    {"date": "2026-01-03", "product": "Mouse", "sales": 40, "region": "South"}
]

connection.commit()

In [20]:
cursor.executemany('''
    INSERT INTO sales(date, product, sales, region)
    VALUES (:date, :product, :sales, :region)
''', sales_data)

connection.commit()

In [21]:
## Query the data from the table
cursor.execute('''
Select * from sales
''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2026-01-01', 'Laptop', 10, 'North')
(2, '2026-01-01', 'Mouse', 50, 'South')
(3, '2026-01-02', 'Keyboard', 30, 'East')
(4, '2026-01-02', 'Monitor', 20, 'West')
(5, '2026-01-03', 'Laptop', 15, 'North')
(6, '2026-01-03', 'Mouse', 40, 'South')

In [22]:
connection.close()