In [1]:
import numpy as np
import pandas as pd

In [5]:
df1 = pd.read_csv(r'anime.csv')

In [8]:
df1.head() ## top 5 rows

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    50 non-null     int64
 1   Title   50 non-null     object
 2   Score   50 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB

In [26]:
## make a new column for episode count
def extract_ep(st: str):
    if '(' not in st or ')' not in st:
        return None
    
    data = st[st.find('(')+1: st.find(')')]
    return data

df1['episode_cnt'] = df1['Title'].apply(extract_ep)

In [28]:
df1.head()
df1['episode_cnt'] = df1['episode_cnt'].apply(lambda x : x.replace(" eps", ""))

In [29]:
df1.head()

   Rank                                              Title  Score episode_cnt
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10          64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07          24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06          13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06          51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05          10

In [31]:
df1['episode_cnt'] = df1['episode_cnt'].astype(int)
df1.head()

   Rank                                              Title  Score  episode_cnt
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10           64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07           24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06           13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06           51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05           10

In [33]:
df1.loc[0]['Title']

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [40]:
def extraction_time(txt):
    return txt[txt.find(')')+1 : txt.find(')')+20]

print(extraction_time(df1.loc[0]['Title']))

Apr 2009 - Jul 2010

In [42]:
df1['timestamps'] = df1['Title'].apply(extraction_time)

In [43]:
df1.head()

,Rank,Title,Score,episode_cnt,timestamps
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [44]:
from dateutil.relativedelta import relativedelta
from datetime import datetime

def calculate_total_months(period):
    try:
        start_str, end_str = period.split(' - ')
        start_date = datetime.strptime(start_str, '%b %Y')
        end_date = datetime.strptime(end_str, '%b %Y')
        r = relativedelta(end_date, start_date)
        return r.years * 12 + r.months + 1  # +1 to include the starting month
    except:
        return None

df1['Months'] = df1['timestamps'].apply(calculate_total_months)

In [45]:
df1.head()

,Rank,Title,Score,episode_cnt,timestamps,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4

In [ ]:
## anime with highest Score
df1[df1['Score'] == df1['Score'].max()]['Title']

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
Name: Title, dtype: object

In [49]:
## top 5 highest scoring animes
df1['Title'].head()

0    Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...
1    Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...
2    Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...
3    Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...
4    Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...
Name: Title, dtype: object

In [52]:
## anime with highest episode count
df1[df1['episode_cnt'] == df1['episode_cnt'].max()]

,Rank,Title,Score,episode_cnt,timestamps,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48

In [53]:
## longest running animes
df1[df1['Months'] == df1['Months'].max()]

,Rank,Title,Score,episode_cnt,timestamps,Months
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111

In [58]:
## top 5 anime with highest episode count

df1.sort_values(by='episode_cnt', ascending=False).head(5)

,Rank,Title,Score,episode_cnt,timestamps,Months
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,48
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014,36
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,111
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002,18
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005,18

In [59]:
df1.head()

,Rank,Title,Score,episode_cnt,timestamps,Months
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,16
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,6
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,3
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,12
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,4